<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fotadmin.css" %}"/>
    
    
    <!-- <link rel="stylesheet" type="text/css" href="{% static "js/fotadmin.js" %}"/> -->

    <title>FOT ADMIN</title>
</head>
<body>
    <div class="container">
    	<div class="dashboard">
    		<div class="header flex-row">
    			<button class="tabs text-center">Audit History</button>
    			<button class="tabs text-center">Credits</button>
    			<button class="tabs text-center">User</button>
    			<button class="tabs text-center">Notification</button>
    			<button class="tabs text-center">Slots</button>

    		</div>

            <div class="content">
                <div class="audit">
                    <div class="heading"> Audit History </div>

                </div>

                <div class="credit hide">
                </div>

                <div class="user hide">
                </div>

                <div class="notification hide">
                </div>

                <div class="slot hide">
                </div>
            </div>
    	</div>

    </div>
    <script type="text/javascript" src="{% static "js/common.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.min.js" %}"></script>
</body>
</html>