

body{
    background-color: #F3F3F3;
}
.container{
    /*background-color:white;*/
    margin:45px;
}

.dashboard {
	color:black;
}
.tabs{
	height:50px;
	background: white;
	margin-right: 4px;
	width:250px;
	font-size:20px
}

.content{
	margin-top: 10px;
	background: white;
}